* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 10px;
}

.material-icons {
    font-size: 3rem !important;
    color: #ff6e7f;
    transition: ease 250ms;
    cursor: pointer;
}

.material-icons:hover {
    color: #3fbcff;
}

body {
    display: grid;
    height: 100vh;
    font-size: 2rem;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.nav {
    background-color: #ededed;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 0 1.5rem 20px -20px black;
}

.nav-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 2rem;
}

.nav-top-left {
    display: flex;
    align-items: center;
    gap: 3rem;
}

input {
    width: 80%;
    height: 3rem;
    background-color: transparent;
    border: #ff6e7f 0.5rem solid;
    border-radius: 999999px;
    padding: 0.5rem 3rem;
    font-size: 2rem;
    transition: ease 250ms;
}

input:focus {
    outline: none;
    border: #3fbcff 0.5rem solid;
}

.nav-top-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
}

.nav-top .img-profile {
    width: 4.5rem;
    border-radius: 50%;
}

.nav-top .username {
    color: #ff6e7f;
    font-weight: bold;
    cursor: pointer;
}

.nav-top .username:hover {
    transition: ease 250ms;
    color: #3fbcff;
}

.nav-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.nav-bottom-left {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-bottom-left .img-profile {
    width: 6rem;
    border-radius: 50%;
}

.nav-bottom-left .welcome-text {
    font-weight: 500; 
    color: #3fbcff;
}

.nav-bottom-left .username {
    color: #ff6e7f;
}

.nav-bottom-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
}

.nav-options {
    text-decoration: none;
    background-color: #ff6e7f;
    text-align: center;
    line-height: 3.5rem;
    width: 9rem;
    height: 3.5rem;
    color: #ededed;
    font-weight: bolder;
    border-radius: 9999999px;
    transition: ease 250ms;
}

.nav-options:hover {
    background-color: #3fbcff;
}

.nav-options:active {
    color: #ff6e7f;
}

.sidebar {
    background-color: #3fbcff;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2.5rem 3rem;
}

.sidebar .material-icons, .sidebar p, .sidebar h3 {
    color: #ededed;
}

.sidebar-top {
    font-size: 3rem;
}

.sidebar-top h3 {
    display: flex;
    gap: 2rem;
}

.sidebar-top .material-icons {
    font-size: 4rem !important;
}

.sidebar-middle .material-icons, .sidebar-bottom .material-icons {
    font-size: 3rem !important;
}

.sidebar-middle p, .sidebar-bottom p {
    display: flex;
    font-weight: bold;
    gap: 2rem;
    cursor: pointer;
    line-height: 150%;
}

p:hover .material-icons, p:hover {
    color: #ff6e7f;
    transition: ease 250ms;
}

.sidebar-middle, .sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #bebdbd;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projects-name, .announcements-name, .trending-name {
    margin-bottom: 1.5rem;
}

.name {
    color: #4f4f4f;
    font-weight: bold;
}

.name:hover {
    color: #4f4f4f;
}

.projects-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 0.4fr));
    gap: 3rem;
}

.projects-card {
    background-color: #ededed;
    aspect-ratio: 5 / 4;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0.5rem 0;
    box-shadow: 0 1.5rem 20px -20px black;
}

.projects-title, .announcement-title {
    font-weight: bold;
    color: #ff6e7f;
}

.projects-card a {
    text-decoration: none;
}

.projects-title:hover, .announcement-title:hover {
    color: #3fbcff;
    cursor: pointer;
}

.projects-description, .announcement-description {
    color: #4f4f4f;
}

.projects-description:hover, .announcement-description:hover {
    color: #4f4f4f;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
}

.announcements-container {
    width: 80%;
}

.announcements-card {
    background-color: #ededed;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 1.5rem 20px -20px black;
}

.announcement-description {
    font-size: 1.75rem;
}

hr {
    border-color: #3fbcff;
}

.trending {
    margin-top: 2rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: flex-end;
}

.trending-container {
    width: 80%;
}

.trending-card {
    background-color: #ededed;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 1.5rem 20px -20px black;
}

.trending-info {
    display: flex;
    gap: 1rem;
}

.trending-info img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}

.trending-info .username {
    color: #ff6e7f;
    cursor: pointer;
}

.trending-info .username:hover {
    color: #3fbcff;
}

.trending-info .description {
    color: #4f4f4f;
}
